/*
 * Custom or experimental css.
 *
 * Try here first until everything works and choose to
 * copy it to default.css if everything works out fine
 * and you like to have in your base stylesheet.
 */
select {
    font-size: inherit;
}

.panel label.salesprice {
    color: #009933;
}

.btn {
    font-size: 0.8em;
    color: silver;
    text-decoration: none;
    margin-right: 2em;
}

a.logo {
    width: 4em;
    background-image: url(/img/logo-ksm.png);
    background-size: 48px 16px;
}

.appointment-incomplete {
    color: red;
}

.appointment-completed {
    color: green;
}

/* Cockpit stuff */
div.domain {
    width: calc(25% - 2px - 2rem);
    height: 200px;
    margin: 0 1rem 1rem 1rem;
    float: left;
    position: relative;
    border: 1px solid gray;
}

div.domain h1 {
    color: gray;
    font-size: 1.13rem;
    padding: 0.25rem;
    border-bottom: 1px solid gray;
}

div.domain h1 a {
    text-decoration: none;
}

div.domain p.the-count {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem 1rem;
    font-size: small;
    color: gray;
    line-height: 1.13rem;
}

/* Autocomplete
----------------------------------*/
.ui-autocomplete {
    position: absolute;
    cursor: default;
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

.ui-autocomplete-loading {
    background: white url('/img/loader.gif') right center no-repeat;
}

/* workarounds */
* html .ui-autocomplete {
    width: 1px;
}

/* without this, the menu expands to 100% in IE6 */
/* Menu
----------------------------------*/
.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    background-color: whitesmoke;
}

.ui-menu .ui-menu {
    margin-top: -3px;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    /*margin: -1px;*/
}

.ui-helper-hidden-accessible {
    position: absolute;
    left: -999em;
}

form.panel,
ul.tab-navigation a.selected {
    background-color: rgb(252, 252, 252);
}

.autocomplete {}

input[readonly=readonly],
textarea[readonly=readonly] {
    padding-right: 0;
    background: white;
    color: gray;
}

input[disabled=disabled],
textarea[disabled=disabled] {
    color: gray;
}

/**
 * Service appointment table width settings.
 */
table.service tbody tr {
    border-left: 3px solid transparent;
}

/**
 * These classes are indicating if an appointment is overdue or due today or later.
 */
table.service tbody tr.overdue {
    border-left-color: red;
}

table.service tbody tr.today {
    border-left-color: orange;
}

table.service tbody tr.coming-up {
    border-left-color: green;
}

th.date {
    width: 9rem;
}

th.time {
    width: 8rem;
}

th.week {
    width: 2rem;
}

th.fix {
    width: 2rem;
}

th.receipt {
    width: 5rem;
}

th.location {
    width: 6rem;
}

th.machine-internalnumber {
    width: 4rem;
}

.panel td.minor {
    font-size: smaller;
    color: gray;
}

.panel a.in-table {
    display: block;
    background: url(/img/glyphicons/glyphicons_211_right_arrow.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 8px 8px;
    padding-left: 12px;
}

ul.panel-navigation a.volver {
    display: block;
    background: url(/img/glyphicons/glyphicons_210_left_arrow.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 8px 8px;
    padding-left: 12px;
    color: orange;
    font-style: italic;
}

/* Textarea failure is initally not visible, only when the appointment type is "service". */
fieldset.only-on-service {
    display: none;
}

/* Service headline can have a badge with number of changed bean counts */
.badge-container {
    position: relative;
}

/*
span.badge {
    position: absolute;
    min-width: 1em;
    top: -1em;
    right: -0.777em;
    border-radius: 0.666em;
    color: white;
    background-color: red;
    padding: 0.333em;
    font-size: 0.666em;
    text-align: center;
}
*/
span.badge {
    position: absolute;
    top: -12px;
    right: -12px;
    line-height: 20px;
    display: table-cell;
    overflow: hidden;
    min-width: 24px;
    height: 24px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 100%;
    border: 3px solid #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #ff001f;
    color: #fff;
    background-clip: padding-box;
}

/* Hilite the target, the element identified by the hash part of the URL */
:target {
    animation: highlight 7000ms ease-out;
}

@keyframes highlight {
    from {
        background-color: #feffbc;
    }
}