/*
 * Custom or experimental css.
 *
 * Try here first until everything works and choose to
 * copy it to default.css if everything works out fine
 * and you like to have in your base stylesheet.
 */
/**
 * Make negative table data red.
 *
 * @see https://stackoverflow.com/questions/1824266/colorize-negative-positive-numbers-jquery
 */
td[data-monetary-amount^="-"] {
    color: red;
}

table.revenue tfoot {
    display: table-row-group;
}

.panel .container {
    /*overflow: visible;*/
}

table.scaffold a.dunning-pdf,
table.scaffold a.dunning-mail {
    display: inline-block;
}

.dunning-pdf,
.dunning-mail {
    width: 20px;
    height: 20px;
    background-size: 16px 16px;
}

.dunning-pdf {
    background-image: url(/img/glyphicons/glyphicons_135_inbox_out.png);
}

.dunning-mail {
    background-image: url(/img/glyphicons/glyphicons_062_paperclip.png);
}

.drag-handle {
    width: 16px;
    height: 16px;
    /*1em font-size + 2 x 0.222em padding in input fields*/
    padding: 0;
    margin: 0;
    z-index: 1;
    background-image: url(/img/glyphicons/glyphicons_319_sort.png);
    background-size: 16px 16px;
    position: absolute;
    left: -28px;
    top: 50%;
    margin-top: -8px;
    cursor: move;
}

article.main {
    min-height: 100vh;
}

select {
    font-size: inherit;
}

.panel table thead th.centered {
    text-align: center;
}

.panel thead th.pastel {
    color: black;
}

.panel table.revenue th,
.panel table.revenue td {
    padding-top: 0.333em;
    padding-bottom: 0.333em;
}

.float-left {
    float: left;
}

.flex-center {
    display: flex;
    align-items: center;
}

.panel label.salesprice {
    color: #009933;
}

.btn {
    font-size: 0.8em;
    color: silver;
    text-decoration: none;
    margin-right: 2em;
}

.panel a.action.action-finish {
    display: block;
    width: 24px;
    height: 24px;
    background: url(/img/glyphicons/glyphicons_193_circle_ok.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

/* scratch out the record count */
.panel table caption.scratched {
    text-decoration: line-through;
}

a.logo {
    width: 4em;
    background-image: url(/img/logo-ksm.png);
    background-size: 48px 16px;
}

.appointment-incomplete {
    color: red;
}

.appointment-completed {
    color: green;
}

.smaller-font {
    font-size: 0.975rem;
}

/* Cockpit stuff */
div.domain {
    width: calc(25% - 2px - 2rem);
    height: 200px;
    margin: 0 1rem 1rem 1rem;
    float: left;
    position: relative;
    border: 1px solid gray;
}

div.domain h1 {
    color: gray;
    font-size: 1.13rem;
    padding: 0.25rem;
    border-bottom: 1px solid gray;
}

div.domain h1 a {
    text-decoration: none;
}

div.domain p.the-count {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem 1rem;
    font-size: small;
    color: gray;
    line-height: 1.13rem;
}

/* Autocomplete
----------------------------------*/
.ui-autocomplete {
    position: absolute;
    cursor: default;
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

.ui-autocomplete-loading {
    background: white url('/img/loader.gif') right center no-repeat;
}

/* workarounds */
* html .ui-autocomplete {
    width: 1px;
}

/* without this, the menu expands to 100% in IE6 */
/* Menu
----------------------------------*/
.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    background-color: whitesmoke;
}

.ui-menu .ui-menu {
    margin-top: -3px;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    /*margin: -1px;*/
}

.ui-helper-hidden-accessible {
    position: absolute;
    left: -999em;
}

form.panel,
ul.tab-navigation a.selected {
    background-color: rgb(252, 252, 252);
}

form.panel {
    min-height: 100vh;
}

.autocomplete {}

input[readonly=readonly],
textarea[readonly=readonly] {
    padding-right: 0;
    background: white;
    color: gray;
}

input[disabled=disabled],
textarea[disabled=disabled] {
    color: gray;
}

/*
th, td {
    animation: widerthanyou 7000ms ease-out;
}
*/
.panel td.tar {
    text-align: right;
}

.panel .buttons p.info {
    text-align: left;
}

/**
 * Service appointment table width settings.
 */
table.service {
    font-size: 70%;
}

table.service tbody tr {
    border-left: 5px solid transparent;
}

/**
 * These classes are indicating if an appointment is overdue or due today or later.
 */
table.service tbody tr.overdue {
    border-left-color: red;
}

table.service tbody tr.today {
    border-left-color: orange;
}

table.service tbody tr.coming-up {
    border-left-color: green;
}

.panel tbody tr:hover {
    background-color: #c2eddb;
}

thead th.edit,
thead th.switch {
    width: 10px;
}

th.date {
    width: 6rem;
}

table.service th.time {
    width: 3.8rem;
}

table.service th.week {
    width: 1rem;
}

table.service th.fix {
    width: 1rem;
}

table.service th.receipt {
    width: 2rem;
}

table.service th.worker {
    width: 3rem;
}

table.service th.duration {
    width: 2rem;
}

table.service th.person {
    width: 4.5rem;
}

table.service th.contact {
    width: 3.5rem;
}

table.service th.location {
    width: 4rem;
}

table.service th.machinebrand {
    width: 2.5rem;
}

table.service th.machine {
    width: 3rem;
}

table.service th.machine-serialnumber {
    width: 3rem;
}

table.service th.machine-internalnumber {
    width: 3rem;
}

table.service th.note {
    width: 30rem;
}

table.service th.wider {
    transition: all 666ms;
    width: 42rem;
}

.panel table.service td.minor {
    font-size: smaller;
    /*color: gray;*/
}

/* customer */
table.service tr td:nth-child(11) {
    background-color: #FF9AA2;
}

/* contact */
table.service tr td:nth-child(12) {
    background-color: #FFB7B2;
}

/* location */
table.service tr td:nth-child(13) {
    background-color: #FFDAC1;
}

/* machine brand */
table.service tr td:nth-child(14) {
    background-color: #E2F0CB;
}

/* machine */
table.service tr td:nth-child(15) {
    background-color: #B5EAD7;
}

/* machine s/n */
table.service tr td:nth-child(16) {
    background-color: #C7CEEA;
}

/* machine internal number */
table.service tr td:nth-child(17) {
    background-color: #FFCEE7;
}

table.service tbody tr {
    border-bottom: 1px solid gray;
}

input.num {
    text-align: right;
}

/* open item transaction table */
th.gros,
th.paid,
th.balance {
    width: 10rem;
}

th.duedays {
    width: 8rem;
}

td.duedays {
    font-size: smaller;
}

th.pdf {
    width: 4rem;
}

th.accumulate {
    width: 2rem;
}

a.in-table,
a.in-form {
    display: block;
    background: url(/img/glyphicons/glyphicons_211_right_arrow.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 8px 8px;
    padding-left: 12px;
    text-decoration: none;
}

a.no-master {
    color: red;
}

a.in-form {
    display: inline-block;
}

ul.panel-navigation a.volver {
    display: block;
    background: url(/img/glyphicons/glyphicons_210_left_arrow.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 8px 8px;
    padding-left: 12px;
    color: orange;
    font-style: italic;
}

/* Textarea failure is initally not visible, only when the appointment type is "service". */
fieldset.only-on-service {
    display: none;
}

/* Service headline can have a badge with number of changed bean counts */
.badge-container {
    position: relative;
}

span.badge {
    position: absolute;
    top: -12px;
    right: -12px;
    line-height: 20px;
    display: table-cell;
    overflow: hidden;
    min-width: 24px;
    height: 24px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 100%;
    border: 3px solid #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #ff001f;
    color: #fff;
    background-clip: padding-box;
}

.panel input.lesswidth {
    width: auto;
    margin-left: 0;
    margin-right: 0;
}

thead th.transaction-number {
    width: 12rem;
}

.openitem-amount {
    /*float: right;*/
}

/**
 * Datatables stuff. From scratch.
 */
.datatable td a {
    text-decoration: none;
}

.dataTables_info {
    font-size: small;
    color: gray;
    text-align: center;
}

.panel .dataTables_filter label {
    float: right;
    width: 100%;
}

.panel .dataTables_filter input[type=search] {
    font-size: 1em;
}

th.sorting {
    color: white;
    text-decoration: none;
}

th.sorting:hover,
th.sorting_asc:hover,
th.sorting_desc:hover {
    cursor: pointer;
}

th.sorting_asc {
    background-color: rgb(33, 33, 33);
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
    padding-right: 1em;
    background-image: url(/img/asc.png);
}

th.sorting_desc {
    background-color: rgb(33, 33, 33);
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
    padding-right: 1em;
    background-image: url(/img/desc.png);
}

td.dataTables_empty {
    font-size: small;
    color: gray;
    text-align: center;
    padding: 2em;
}

a.action.action-delete {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/img/glyphicons/glyphicons_191_circle_minus.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    float: right;
}

.mini-container {
    width: 100%;
}

.mini-container p.buttons {
    text-align: center;
}

button {
    font-size: .77em;
}

a.venetianblinds {
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(0, 128, 212);
    color: rgb(0, 128, 212);
    background-color: white;
    padding: 0.5em 1em;
    margin: 0.5em;
    font-size: 77%;
    text-decoration: none;
    transition: 666ms;
}

a.venetianblinds.active {
    color: white;
    background-color: rgb(0, 128, 212);
}

.center {
    text-align: center;
}

.heretic {
    text-align: center;
    font-size: small;
    color: gray;
    min-height: 4em;
    padding-left: 23.404255317%;
}

/**
 * Tooltip stuff.
 *
 * @see http://jsfiddle.net/Xotic750/9kBVu/
 */
.tooltip,
.additional-box {
    position: absolute;
    width: 60%;
    height: calc(100vh - 200px);
    min-height: 10em;
    overflow-y: scroll;
    padding: 1em;
    border: 1px solid gray;
    border-top: 0;
    background-color: white;
    top: -1px;
    left: calc((40% - 1em) / 2);
    display: none;
}

.tooltip.open,
.additional-box.open {
    display: block;
}

.tooltip {
    z-index: 10000;
}

table.scaffold a.tooltip-open,
table.scaffold a.additional-info {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/img/glyphicons/glyphicons_088_adress_book.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    margin-right: 0.25rem;
}

table.scaffold a.additional-info.position {
    background-image: url(/img/glyphicons/glyphicons_119_table.png);
}

table.service a.tooltip-open,
table.service a.additional-info,
table.openitem a.tooltip-open,
table.openitem a.additional-info {
    float: left;
}

a.empty-container,
a.tooltip-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 20px;
    height: 20px;
    background: url(/img/glyphicons/glyphicons_192_circle_remove.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

/*
.tooltip-link:hover+.tooltip {
    display: inline-block;
}

.tooltip:hover {
    display: block;
}
*/
article.main>header .tooltip h1,
article.main>header .tooltip h2 {
    padding: 0;
}

article.main>header .tooltip h2 {
    padding: 1rem 0;
}

.tooltip table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.tooltip th {
    text-align: left;
}

.tooltip table tr {
    border-bottom: 1px solid grey;
}

.tooltip table tr:last-child {
    border-bottom: none;
}

.tooltip table td {
    vertical-align: top;
    padding-top: 2px;
    padding-bottom: 2px;
}

.tooltip th.number,
.tooltip td.number {
    text-align: right;
}

.cushion-right {
    padding-right: 4px;
}

.spacer {
    font-size: small;
    text-align: left;
    padding-bottom: 2em;
}

/**
 * Service print form
 */
form.pform {
    /*padding-right: 1em;*/
}

li:last-child form.pform {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

form.pform {
    padding-left: 1em;
}

form.pform input.pday {
    padding: 0.25em;
    font-size: small;
    width: auto;
}

select[multiple] {
    font-size: 70%;
    height: auto;
}

div.contact-info:last-child {
    border-bottom: none;
}

hr.person-contact-divider {
    /*border-top: 1px dashed #8c8b8b;*/
    border: none;
    padding: 1em 0;
}

hr.person-contact-divider:last-child {
    display: none;
}

fieldset>.detach,
fieldset>.attach {
    top: 1em;
}

fieldset.sub>.detach,
fieldset.sub>.attach {
    top: 50%;
}

.scratch {
    position: absolute;
    top: 0.222em;
    bottom: 0;
    right: 0.222em;
    width: 26px;
    height: 26px;
    padding: 0;
    margin: 0;
    z-index: 1;
    background-image: url(/img/glyphicons/glyphicons_191_circle_minus.png);
}

.mail.pending {
    color: #ce838f;
}

.mail.sent {
    color: #54b646;
}

/* quill */
.quill-wrapper {
    margin-left: 25.404255317%;
}

.ql-container {
    font-size: 99%;
}

.quill-spacer {
    display: inline-block;
    padding: 0 1rem;
}

/**
 * Override the absolute position of select2
 */
.select2-hidden-accessible {
    position: inherit !important;
}

.switch-start {
    color: green;
}

.switch-stop {
    color: red;
}

/*
hr.person-contact-divider:after {
    content: '\002702';
    display: inline-block;
    position: relative;
    top: -12px;
    left: 40px;
    padding: 0 3px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
}
*/
/* Hilite the target, the element identified by the hash part of the URL */
:target {
    animation: highlight 7000ms ease-out;
}

@keyframes highlight {
    from {
        background-color: #feffbc;
    }
}